@import "tailwindcss";
@import "tailwindcss/utilities";

@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --font-mono: "Arvo", monospace;
    --font-serif: "Montserrat", serif;

    --color-green: oklch(80.55% 0.1183 127.58);
    --color-gray: oklch(0.967 0.003 264.542);
    --color-blue: oklch(78.82% 0.0533 140.74);
    --color-turquoise: oklch(74.71% 0.0568 166.31);
}

@layer base {
    body {
        @apply font-sans text-base leading-normal;
    }

    h1 {
        @apply text-4xl font-mono lg:text-6xl;
    }

    h2 {
        @apply text-2xl font-mono lg:text-4xl;
    }

    h3 {
        @apply text-xl font-sans font-bold my-4;
    }
}

@layer components {
    .noscroll {
        overflow: hidden;
    }

    .black {
        @apply bg-black
    }
}