---
import Caroussel from "../../components/Caroussel.astro";
import Layout from "../../layouts/Layout.astro";
import { getAllFilmsByProjectionDate } from "../../../backend/backend.mjs";
import SelectGenre from "../../components/SelectGenre.astro";
import SelectDate from "../../components/SelectDate.astro";

const hero = {
    title: "Programmation",
};

let films = await getAllFilmsByProjectionDate();
---

<Layout hero={hero}>
    <div class="flex flex-col md:flex-row gap-4 w-full">
        <SelectGenre films={films} />
        <SelectDate films={films} />
    </div>
    <Caroussel films={films} />
</Layout>
