---
import Layout from "../layouts/Layout.astro";
import CardInvite from "../components/CardInvite.astro";
import { getAllInvitesSortedByName } from "../../backend/backend.mjs";

const hero = {
    title: "Invités",
};

let invites = await getAllInvitesSortedByName();
---

<Layout hero={hero}>
    <div class="flex flex-col gap-4 items-center">
        {invites.map((invite) => <CardInvite invites={invite} />)}
    </div>
</Layout>
