---
import Layout from "../layouts/Layout.astro";
---

<Layout header="invite">
    <article class="article">
        <div class="article__texts">
            <h2 class="article__title">
                Bienvenue sur le site officiel du festival CINEMAGNY !
            </h2>
            <p class="article__text">
                Dédié à la célébration du cinéma indépendant et émergent, notre
                festival, situé au cœur de Giromagny, vous invite à découvrir
                des films uniques, des réalisateurs passionnés et à vivre une
                expérience inoubliable dans un cadre naturel et exceptionnel des
                Vosges du 12 au 16 novembre 2025.
            </p>
        </div>
    </article>
</Layout>
