---
import flechedroite from "../assets/svg/element_fleche_droite.svg";
---

<button
    class="flex items-center gap-2 px-8 py-3 bg-black text-white font-semibold uppercase transition-colors duration-300 hover:bg-gray-800 font-sans text-semibold text-xs tracking-wider shadow-lg max-w-fit"
>
    <img
        src={flechedroite.src}
        alt="Flèche vers la droite"
        class="w-7 h-7 invert"
    />
    Voir la programmation
</button>
