---
import ButtonArrow from "./ButtonArrow.astro";
---

<div class="relative max-w-4xl mx-auto px-4 py-8">
    <div
        class="absolute top-0 left-0
      w-[80vw] h-[50vh]
      sm:w-[500px] sm:h-[350px]
      bg-(--color-gray) z-0"
    >
        <div class="absolute top-6 left-6 w-1/2 h-[2px] bg-black"></div>
        <div class="absolute top-6 left-6 w-[2px] h-1/2 bg-black"></div>
    </div>

    <div
        class="relative bg-(--color-green) p-6 md:p-8 shadow-lg mt-6 ml-6 z-10 flex flex-col gap-8"
    >
        <slot name="title" />

        <slot name="content" />
        <slot name="button" />

        <slot name="img" />
    </div>
</div>
