<footer class="">
    <img
        class=""
        src="/assets/svg/element_logo_initial.svg"
        alt="logo cinemagny"
    />

    <h3 class="">Contact</h3>
    <ul class="">
        <li class="">Email : contact@cinemagny.com</li>
        <li class="">Téléphone : +33 3 00 00 00 00</li>
        <li class="">Adresse : Théâtre du Pilier, 90200 Giromagny, France</li>
    </ul>

    <h3 class="">Nous suivre</h3>
    <ul class="">
        <li class="">
            <img
                class=""
                src="/assets/svg/element_insta.svg"
                alt="logo instagram"
            />
        </li>
        <li class="">
            <img
                class=""
                src="/assets/svg/element_facebook.svg"
                alt="logo facebook"
            />
        </li>
        <li class="">
            <img
                class=""
                src="/assets/svg/element_twitter.svg"
                alt="logo twitter"
            />
        </li>
        <li class="">
            <img
                class=""
                src="/assets/svg/element_ytb.svg"
                alt="logo youtube"
            />
        </li>
    </ul>

    <h3 class="">Nous suivre</h3>
    <p class="">
        Recevez les dernières nouvelles du festival CINEMAGNY, des informations
        exclusives et des offres spéciales.
    </p>
    <button class="">S'inscrire à la newsletter</button>

    <h3 class="">Mentions légales</h3>
    <ul class="">
        <li class="">Politique de confidentialité</li>
        <li class="">Conditions générales d'utilisation</li>
        <li class="">Cookies</li>
    </ul>
</footer>
