---
const props = Astro.props;
const hero = props.hero;
---

<div class="flex flex-col w-full overflow-hidden">
    <div
        class={`${
            hero.imgHero
                ? "absolute inset-0 mt-12 bg-transparent items-center"
                : "relative mt-0 bg-black items-start"
        } flex flex-col justify-center text-center px-8 lg:px-32  text-white min-h-[35dvh] overflow-hidden`}
    >
        <h1
            class="font-sans font-light text-3xl md:text-4xl lg:text-6xl uppercase"
        >
            {hero.title}
        </h1>
        <h2 class="font-sans text-lg md:text-2xl mt-2">
            {hero.subtitle}
        </h2>
        {
            hero.button && (
                <button
                    class="border border-white px-6 py-3 mt-6 text-xs
                           hover:bg-white hover:text-black transition"
                >
                    {hero.button}
                </button>
            )
        }
    </div>

    {
        hero.imgHero && (
            <div class="inset-0 -z-10 bg-black/50 m-0 p-0 h-screen w-screen">
                <img
                    src={hero.imgHero}
                    alt="hero background"
                    class="mix-blend-color object-cover h-full w-full block lg:hidden"
                />

                <img
                    src={hero.imgHeroLg ?? hero.imgHero}
                    alt="hero background"
                    class="mix-blend-color object-cover h-full w-full hidden lg:block"
                />
            </div>
        )
    }
</div>
